<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Football</title>
    <style type="text/css">
        canvas {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<canvas id="pitch" width="800" height="518"></canvas>
<div>
    <label for="name"></label>
    <input type="text" name="name" id="name" placeholder="name">
    <button id="save-name">Change name</button>
</div>
<div>
    <button id="start-game">Start</button>
    <button id="stop-game">Stop</button>
    <button id="join-game">Join</button>
    <button id="leave-game">Leave</button>
</div>
<span id="debug"></span>
<script>
    (function () {
        document.getElementById('start-game').onclick = function () {
            ws.send(JSON.stringify({
                'command': 'start'
            }))
        };

        document.getElementById('stop-game').onclick = function () {
            ws.send(JSON.stringify({
                'command': 'stop'
            }))
        };

        document.getElementById('join-game').onclick = function () {
            ws.send(JSON.stringify({
                'command': 'join'
            }))
        };

        document.getElementById('leave-game').onclick = function () {
            ws.send(JSON.stringify({
                'command': 'leave'
            }))
        };

        document.getElementById('save-name').onclick = function () {
            ws.send(JSON.stringify({
                'command': 'save-name',
                'name': document.getElementById('name').value
            }))
        };

        var speed = 3;
        var moveX = 0;
        var moveY = 0;
        var width = 800;
        var height = 518;

        window.onkeydown = function(e) {
            var send = false;
            if (e.keyCode == 37 && moveX == 0) {
                moveX = -speed;
                send = true;
            }

            if (e.keyCode == 38 && moveY == 0) {
                moveY = -speed;
                send = true;
            }

            if (e.keyCode == 39 && moveX == 0) {
                moveX = speed;
                send = true;
            }

            if (e.keyCode == 40 && moveY == 0) {
                moveY = speed;
                send = true;
            }

            if (send) {
                ws.send(JSON.stringify({
                    'command': 'move',
                    'moveX': moveX,
                    'moveY': moveY
                }))
            }
        };

        window.onkeyup = function(e) {
            var send = false;
            if (e.keyCode == 37) {
                moveX = 0;
                send = true;
            }

            if (e.keyCode == 38) {
                moveY = 0;
                send = true;
            }

            if (e.keyCode == 39) {
                moveX = 0;
                send = true;
            }

            if (e.keyCode == 40) {
                moveY = 0;
                send = true;
            }

            if (send) {
                ws.send(JSON.stringify({
                    'command': 'move',
                    'moveX': moveX,
                    'moveY': moveY
                }))
            }
        };

        var players = [];
        var ws = new WebSocket("ws://shagtv.net:8000/ws");

        ws.onmessage = function (evt) {
            var data = JSON.parse(evt.data);
            if (data['command'] == 'draw') {
                pitch.draw();
                for (var i in data['players']) {
                    var player = new Player(
                        data['players'][i][0],
                        data['players'][i][1],
                        data['players'][i][2],
                        data['players'][i][3],
                        data['players'][i][4]
                    );
                    player.draw();
                }
                ball.x = data['ball'][0];
                ball.y = data['ball'][1];
                ball.draw();
            }
        };

        ws.onopen = function (evt) {
            console.log('open');
            var name = 'noname' + parseInt(Math.random()*100);
            document.getElementById('name').value = name;
            ws.send(JSON.stringify({
                'command': 'save-name',
                'name': name
            }));
        };

        ws.onerror = function (evt) {
            console.log('error')
        };

        var canvas = document.getElementById('pitch');
        var ctx = canvas.getContext('2d');

        var pitch = {
            draw: function () {

                // Outer lines
                ctx.beginPath();
                ctx.rect(0, 0, canvas.width, canvas.height);
                ctx.fillStyle = "#060";
                ctx.fill();
                ctx.lineWidth = 1;
                ctx.strokeStyle = "#FFF";
                ctx.stroke();
                ctx.closePath();

                ctx.fillStyle = "#FFF";

                // Mid line
                ctx.beginPath();
                ctx.moveTo(canvas.width / 2, 0);
                ctx.lineTo(canvas.width / 2, canvas.height);
                ctx.stroke();
                ctx.closePath();

                //Mid circle
                ctx.beginPath();
                ctx.arc(canvas.width / 2, canvas.height / 2, 73, 0, 2 * Math.PI, false);
                ctx.stroke();
                ctx.closePath();
                //Mid point
                ctx.beginPath();
                ctx.arc(canvas.width / 2, canvas.height / 2, 2, 0, 2 * Math.PI, false);
                ctx.fill();
                ctx.closePath();

                //Home penalty box
                ctx.beginPath();
                ctx.rect(0, (canvas.height - 322) / 2, 132, 322);
                ctx.stroke();
                ctx.closePath();
                //Home goal box
                ctx.beginPath();
                ctx.rect(0, (canvas.height - 146) / 2, 44, 146);
                ctx.stroke();
                ctx.closePath();
                //Home goal
                ctx.beginPath();
                ctx.moveTo(1, (canvas.height / 2) - 22);
                ctx.lineTo(1, (canvas.height / 2) + 22);
                ctx.lineWidth = 2;
                ctx.stroke();
                ctx.closePath();
                ctx.lineWidth = 1;

                //Home penalty point
                ctx.beginPath();
                ctx.arc(88, canvas.height / 2, 1, 0, 2 * Math.PI, true);
                ctx.fill();
                ctx.closePath();
                //Home half circle
                ctx.beginPath();
                ctx.arc(88, canvas.height / 2, 73, 0.29 * Math.PI, 1.71 * Math.PI, true);
                ctx.stroke();
                ctx.closePath();

                //Away penalty box
                ctx.beginPath();
                ctx.rect(canvas.width - 132, (canvas.height - 322) / 2, 132, 322);
                ctx.stroke();
                ctx.closePath();
                //Away goal box
                ctx.beginPath();
                ctx.rect(canvas.width - 44, (canvas.height - 146) / 2, 44, 146);
                ctx.stroke();
                ctx.closePath();
                //Away goal
                ctx.beginPath();
                ctx.moveTo(canvas.width - 1, (canvas.height / 2) - 22);
                ctx.lineTo(canvas.width - 1, (canvas.height / 2) + 22);
                ctx.lineWidth = 2;
                ctx.stroke();
                ctx.closePath();
                ctx.lineWidth = 1;
                //Away penalty point
                ctx.beginPath();
                ctx.arc(canvas.width - 88, canvas.height / 2, 1, 0, 2 * Math.PI, true);
                ctx.fill();
                ctx.closePath();
                //Away half circle
                ctx.beginPath();
                ctx.arc(canvas.width - 88, canvas.height / 2, 73, 0.71 * Math.PI, 1.29 * Math.PI, false);
                ctx.stroke();
                ctx.closePath();

                //Home L corner
                ctx.beginPath();
                ctx.arc(0, 0, 8, 0, 0.5 * Math.PI, false);
                ctx.stroke();
                ctx.closePath();
                //Home R corner
                ctx.beginPath();
                ctx.arc(0, canvas.height, 8, 0, 2 * Math.PI, true);
                ctx.stroke();
                ctx.closePath();
                //Away R corner
                ctx.beginPath();
                ctx.arc(canvas.width, 0, 8, 0.5 * Math.PI, Math.PI, false);
                ctx.stroke();
                ctx.closePath();
                //Away L corner
                ctx.beginPath();
                ctx.arc(canvas.width, canvas.height, 8, Math.PI, 1.5 * Math.PI, false);
                ctx.stroke();
                ctx.closePath();
            }
        };

        var ball = {
            x: Math.random()*canvas.width,
            y: Math.random()*canvas.height,
            draw: function () {
                ctx.beginPath();
                ctx.arc(this.x, this.y, 3, 0, 2 * Math.PI, false);
                ctx.fillStyle = "#FF0";
                ctx.fill();
                ctx.strokeStyle = "#000";
                ctx.stroke();
                ctx.closePath();
            }
        };

        var Player = function (x, y, speed, team, name) {
            this.x = x;
            this.y = y;
            this.speed = speed || 2;
            this.team = team || "home";
            this.name = name || "noname";
        };

        Player.prototype.draw = function () {
            ctx.beginPath();
            ctx.arc(this.x, this.y, 5, 0, 2 * Math.PI, false);
            ctx.fillStyle = ((this.team === "home") ? "#00F" : "#F00");
            ctx.fill();
            ctx.strokeStyle = "#000";
            ctx.stroke();
            ctx.fillStyle = "#FFF";
            ctx.fillText(this.name, this.x + 5, this.y - 5);
            ctx.closePath();
        };
    })();
</script>
</body>
</html>
