{% extends 'base.html' %}

{% block title %}{{ instance.name }} | {{ block.super }}{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url "teams:list" %}">{{ _("Home") }}</a></li>
        <li><a href="{% url "teams:list" %}">{{ _("Teams") }}</a></li>
        <li class="active">{{ instance.name }}</li>
    </ul>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="col-sm-6 col-sm-offset-3">
        <form class="form-horizontal" action="{% url "authsys:register" %}" method="post">
            {% csrf_token %}
            {{ form }}
        <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">{{ _('Register') }}</button>
                </div>
              </div>
        </form>
    </div>
{% endblock %}
