{% extends 'base.html' %}

{% block title %}{{ instance.name }} | {{ block.super }}{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url "teams:list" %}">{{ _("Home") }}</a></li>
        <li><a href="{% url "teams:list" %}">{{ _("Teams") }}</a></li>
        <li class="active">{{ instance.name }}</li>
    </ul>

    <div class="col-sm-6 col-sm-offset-3">
        <h1>
            {{ instance.name }}
            <small>{{ instance.created }}</small>
        </h1>
        {% if instance.user.get_full_name %}
            <p>{{ _("Author") }}: {{ instance.user.get_full_name }}</p>
        {% endif %}

        {% if request.user == instance.user %}
        <p>
            <a href="{% url "teams:update" id=instance.id %}" class="btn btn-primary" role="button">{{ _("Edit") }}</a>
            <a href="{% url "teams:delete" id=instance.id %}" class="btn btn-danger" role="button">{{ _("Delete") }}</a>
        </p>
        {% endif %}
    </div>
{% endblock %}
