{% extends 'base.html' %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{% url "teams:list" %}">{{ _("Home") }}</a></li>
        <li class="active">{{ _("Teams") }}</li>
    </ul>

    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ _("My teams") }}</h1>

        <form action="" method="get" role="search">
             <div class="input-group">
            <input type="search" class="form-control" name="q" placeholder="{{ _("Search teams") }}" value="{{ request.GET.q }}">
             <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
             </div>
             </div>
        </form>

         <p>
            <a href="{% url "teams:create" %}" class="btn btn-primary" role="button">{{ _("Create") }}</a>
        </p>

        {% for object in object_list %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="trumbnail">
                        <div class="caption">
                            <h3>
                                <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                                <small>{{ object.created|timesince }}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        {% endfor %}

        <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}">{{ _("previous") }}</a>
                    {% endif %}

                    <span class="current">
                        {{ _("Page") }} {{ object_list.number }} {{ _("of") }} {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}">{{ _("next") }}</a>
                    {% endif %}
                </span>
        </div>
    </div>
{% endblock %}