{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Try Django 1.9{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/jumbotron-narrow.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                {% if user.is_authenticated %}
                    <li role="presentation"><a href="{% url 'authsys:logout' %}">{{ _('Logout') }}
                        ({{ user.get_username }})</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'authsys:login' %}">{{ _('Sign in') }}</a></li>
                    <li role="presentation"><a href="{% url 'authsys:register' %}">{{ _('Register') }}</a></li>
                {% endif %}
            </ul>
        </nav>
        <h3 class="text-muted">{{ _('Football manager') }}</h3>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</div>
<br>
<hr>

<form action="{% url 'set_language' %}" method="post" class="selectpicker">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        <option value="en"{% if 'en' == LANGUAGE_CODE %} selected{% endif %}>English (en)</option>
        <option value="ru"{% if 'ru' == LANGUAGE_CODE %} selected{% endif %}>Русский (ru)</option>
    </select>
    <input type="submit" value="Go" class="btn" />
</form>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>