{% load i18n %}

<form action="{% url 'set_language' %}" method="post" class="selectpicker">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        <option value="en"{% if 'en' == LANGUAGE_CODE %} selected{% endif %}>English (en)</option>
        <option value="ru"{% if 'ru' == LANGUAGE_CODE %} selected{% endif %}>Русский (ru)</option>
    </select>
    <input type="submit" value="Go" class="btn" />
</form>
